@model JuansList.ViewModels.AlbumDetailViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Album</title>
</head>
<body>

    <form asp-controller="Albums" asp-action="UpdateAlbum" asp-route-id="@Model.SingleAlbum.AlbumId" method="post">
        <div class="form-horizontal">
            <h4>Edit Album</h4>

           @foreach (var item in Model.Images)
           {
            <input type="hidden" asp-for="@item.AlbumImagesId" />
            <div class="form-group">
                <div class="row">
                    <div class="col m6">
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="padding-top: 1em; max-width: 200px;">
                        <span class="chip">
                            <a asp-controller="Albums" asp-action="DeleteImage" asp-route-id="@item.AlbumImagesId"><i class="close material-icons">close</i>Delete Image</a>   
                        </span>
                        <img/>
                    </div>
                </div>
            </div>
           }

            <div class="col m4 ">
                <a asp-controller="Albums" asp-action="AddImage" asp-route-id="@Model.SingleAlbum.AlbumId" class="waves-effect waves-light btn">Add New Image</a>
            </div>
            <br/>
        </div>
    </form>
    <br />
    <div>
        <a asp-action="UpdateProfile" asp-controller="Vendor" class="waves-effect waves-light btn">Back to Edit Profile</a>
    </div>

</body>
</html>